@import "../../assets/styles/variables";

.projects {
  padding: 60px 0;
  background-color: $options;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    border-radius: 20px;
    margin-top: 40px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 610px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
