@import "../../assets/styles/variables";

._lock {
  overflow: hidden;
}

.parallax {
  position: relative;
  width: 100%;
  height: 120px;
  background: linear-gradient(90deg, #b16cea 14.06%, #ff5e69 44.79%, #ff8a56 71.87%, #ffa84b 100%);
  overflow: hidden;

  @media (max-width: 768px) {
    height: 71px;
    background: none;
  }

  .text {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 20px;
  }
}
