@import "../../assets/styles/variables";

.skills {
  position: relative;
  padding: 60px 0;

  .title {
    display: inline;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    margin-top: 40px;

    @media (max-width: 1055px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 840px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 610px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
