.parallax {
  position: absolute;
  top: 50%;
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  transform: translateY(-50%);

  .scroller {
    background: #f0f2f5;
    color: #161513;
    padding: 20px 0;
    font-weight: 600;
    font-size: 32px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
}
