@import "../../assets/styles/variables";

.footer {
  margin-top: 80px;

  @media (max-width: 992px) {
    margin-top: 0;
  }

  &__container {
    .topline {
      width: 100%;
      border-top: 1px solid $white;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 10px;

    &__item {
      svg {
        width: 26px;
        height: 26px;

        path {
          fill: $white;
          transition: all 300ms ease-in-out;
        }

        &:hover path {
          fill: #ff8d3f;
        }
      }
    }
  }
}
